.home.container
    img.home-faq(src="/images/lightbulb.svg").hidden
    .home-title Font Converter
    .home-subtitle Convert TTF to WOFF2
    include preferences
    include loading
    include success
    include dropzone
    include footer
