.button {
    @include user-select('none');
    cursor: pointer;
    width: 100%;

    &--primary {
        color: var(--color-0);
        border: 1 * $ptr solid var(--color-0);
        border-radius: 10 * $ptr;
        padding: 10 * $ptr;
        text-align: center;
        transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;

        &:hover {
            box-shadow: 0 0 5 * $ptr 0 rgba(0, 0, 0, 0.2);
            transform: scale(1.02);
            transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
        }
    }

    &--with-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10 * $ptr;
    }
}


.button__icon {
    width: 14 * $ptr;
    height: 14 * $ptr;

    svg {
        width: 100%;
        height: 100%;
    }
}
