$paletteA-0: #fffff8;
$paletteA-1: #EDEDE9;
$paletteA-2: #D6CCC2;
$paletteA-3: #F5EBE0;
$paletteA-4: #E3D5CA;
$paletteA-5: #D5BDAF;
$paletteA-6: #6c584c;

$paletteB-1: #DAD7CD;
$paletteB-2: #A3B18A;
$paletteB-3: #588157;
$paletteB-4: #3A5A40;
$paletteB-5: #344E41;
