
// root or default
:root, .theme-default {
  // Default theme (Palette A)
  --color-0: #ffffff;
  --color-1: #e0e0db;
  --color-2: #c8b9ac;
  --color-3: #f0dfd0;
  --color-4: #cfbfb1;
  --color-5: #bfa08e;
  --color-6: #8a6b58;
}

.theme-green {
  --color-0: #F0F7ED;
  --color-1: #DAD7CD;
  --color-2: #A3B18A;
  --color-3: #588157;
  --color-4: #3A5A40;
  --color-5: #344E41;
  --color-6: #253229;
}

.theme-olive {
  --color-0: #F0F7ED;
  --color-1: #E9F5DB;
  --color-2: #CFE1B9;
  --color-3: #B5C99A;
  --color-4: #97A97C;
  --color-5: #87986A;
  --color-6: #718355;
}

.theme-marine {
  --color-0: #F0F7ED;
  --color-1: #D9ED92;
  --color-2: #99D98C;
  --color-3: #52B69A;
  --color-4: #34A0A4;
  --color-5: #1A759F;
  --color-6: #184E77;
}

.theme-pink {
  --color-0: #f0cccc;
  --color-1: #FFE5EC;
  --color-2: #FFC2D1;
  --color-3: #FFB3C6;
  --color-4: #FF8FAB;
  --color-5: #FB6F92;
  --color-6: #e55075;
}

.theme-blue {
  --color-0: #CAF0F8;
  --color-1: #ADE8F4;
  --color-2: #90E0EF;
  --color-3: #48CAE4;
  --color-4: #00B4D8;
  --color-5: #0096C7;
  --color-6: #0077B6;
}
