
.dropzone-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10 * $ptr;
  align-items: center;
  justify-content: center;
  padding: 10 * $ptr;

  overflow: hidden;
}

.dropzone {
  display: flex;
  flex-direction: row;
  column-gap: 10 * $ptr;
  align-items: center;
  justify-content: space-around;
  border: 2 * $ptr solid var(--color-3);
  padding: 10 * $ptr;
  height: 100%;
  width: 100%;
  border-radius: 10 * $ptr;

}

  .dropzone__files, .dropzone__folder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10 * $ptr;
    transition: background 0.2s ease;
    &:hover {
      background: var(--color-1);
      color: var(--color-5);
    }
  }

  .dropzone__folder {
    transition: background 0.2s ease;
    &:hover {
      background: var(--color-1);
      color: var(--color-5);
    }
  }

  .dropzone__text {
    font-size: 20 * $ptr;
    text-align: center;
  }

  .dropzone-list-container {
    display: flex;
    flex-direction: column;
    row-gap: 3 * $ptr;
    height: 100%;
    width: 100%;
    border: 2 * $ptr solid var(--color-4);
    border-radius: 10 * $ptr;
    padding: 2rem;
    background: var(--color-2);

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5 * $ptr;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-4);
    }
  }

  .dropzone-buttons-container {
    display: flex;
    flex-direction: row;
    column-gap: 10 * $ptr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .dropzone-bottom-container {
    display: flex;
    flex-direction: row;
    column-gap: 10 * $ptr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .dropzone-convert-button {
    width: 100%;
  }

  .dropzone-reset-button {
    width: fit-content;
  }

