.file-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10 * $ptr;
    border-radius: 10 * $ptr;
    border: 1 * $ptr solid transparent;
    color: var(--color-6);

    &:hover {
      border-left: 1 * $ptr solid var(--color-0);
      border-right: 1 * $ptr solid var(--color-0);
    }
  }

  .file-item__name {
    font-size: 16 * $ptr;
    font-weight: 600;
  }

  .file-item__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
