$bytesize-font: 'bytesize';

@font-face{
  font-family: $bytesize-font;
  src: url('/fonts/bytesized-regular.woff2') format('woff2');

  font-weight: 400;
  font-display: swap;
}

$coral-pixel-font: 'coral-pixel';

@font-face{
  font-family: $coral-pixel-font;
  src: url('/fonts/coral-pixels-regular.woff2') format('woff2');

  font-weight: 400;
  font-display: swap;
}
