.preferences__open-button, .preferences__close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    margin: 20 * $ptr;

    width: 32 * $ptr;
    height: 32 * $ptr;

    svg {
        width: 100%;
        height: 100%;
    }
}

.preferences__open-button {
    &:hover {
        color: var(--color-0);
    }
}

.preferences__close-button {
    transition: transform 0.3s ease-in-out;
    &:hover {
        color: var(--color-0);
        transform: rotate(90deg);
    }
}

.preferences {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 10 * $ptr;

    background-color: var(--color-6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 20 * $ptr;

    transition: transform 0.3s ease-in-out;

    &.closed {
        transform: translateY(-100%);
        border-radius: 0 0 0 50 * $ptr;
    }
}

    .preferences__title {
        font-size: 42 * $ptr;
        color: var(--color-0);

        font-family: $bytesize-font;
    }

    .preferences__content {
        height: 100%;
        width: 100%;
        padding: 20 * $ptr;

        display: flex;
        flex-direction: column;
        row-gap: 20 * $ptr;
    }

    .preferences__item {
        display: flex;
        flex-direction: column;
        row-gap: 8 * $ptr;
    }

    .preferences__item-title {
        position: relative;
        font-size: 20 * $ptr;
        font-style: italic;
        color: var(--color-0);

        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10 * $ptr;
    }

    .preferences__sanitize-info-icon {
        width: 24 * $ptr;
        height: 24 * $ptr;

        &:hover {
            color: var(--color-1);
        }
    }

    .preferences__sanitize-info {
        position: absolute;
        font-size: 12 * $ptr;
        color: var(--color-0);
        font-style: italic;
        background-color: var(--color-5);
        padding: 5 * $ptr 10 * $ptr;
        border-radius: 10 * $ptr;
        top: 0;
        right: 0;
        transform: translateY(-100%);
        border: 1 * $ptr solid var(--color-0);

        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform-origin: bottom right;

        &.closed {
            opacity: 0;
            transform: scale(0);
        }
    }

    .preferences__item-options {
        display: flex;
        flex-wrap: wrap;
        gap: 10 * $ptr;
        // justify-content: center;
    }

    .preferences__item-option {
        font-size: 16 * $ptr;
        color: var(--color-0);
        width: fit-content;

        border: 1 * $ptr solid var(--color-0);
        border-radius: 20 * $ptr;
        padding: 5 * $ptr 15 * $ptr;

        &:hover {
            background-color: var(--color-0);
            color: var(--color-6);
        }

        &.selected {
            background-color: var(--color-0);
            color: var(--color-6);
        }
    }

    .preferences__theme-button {
        padding-bottom: 12 * $ptr;
        position: relative;
        overflow: hidden;
        border-radius: 10 * $ptr 10 * $ptr 3 * $ptr 3 * $ptr;
    }

    .preferences__theme-palette-overview {
        position: absolute;
        bottom: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        height: 10 * $ptr;
        width: 100%;
    }

    .preferences__palette {
        &--color-0 {
            background-color: var(--color-0);
        }
        &--color-1 {
            background-color: var(--color-1);
        }
        &--color-2 {
            background-color: var(--color-2);
        }
        &--color-3 {
            background-color: var(--color-3);
        }
        &--color-4 {
            background-color: var(--color-4);
        }
        &--color-5 {
            background-color: var(--color-5);
        }
        &--color-6 {
            background-color: var(--color-6);
        }
    }
